<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql:///atguigu</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.important.day1.HelloServlet</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>1230</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.important.day2.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hellojsp</servlet-name>
		<jsp-file>/hello.jsp</jsp-file>
		<init-param>
			<param-name>test</param-name>
			<param-value>testValue</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hellojsp</servlet-name>
		<url-pattern>/hellojsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForwardServlet</servlet-name>
		<servlet-class>com.important.day3.ForwardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/forwardServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.important.day3.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>com.important.day3.RedirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/redirectServlet</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	
	<servlet>
		<description></description>
		<display-name>CustomerServlet</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.important.mvc.servlet.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.important.mvc.servlet.InitServlet</servlet-class>
		<!-- 随着servlet容器的加载而被加载，为负数则第一次请求时才会创建该servlet，否则数值越小越先被加载 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<servlet-class>com.important.token.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/TokenServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 注册Filter -->
	<filter>
		<filter-name>helloFilter</filter-name>
		<filter-class>com.important.filter.HelloWorldFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>helloFilter</filter-name>
		<url-pattern>/Filter/test.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>secondFilter</filter-name>
		<filter-class>com.important.filter.SecondFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>secondFilter</filter-name>
		<url-pattern>/Filter/test.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

</web-app>